/*---------------------------------------------------Universal Styles*/
*{
    font-family: 'News Cycle', sans-serif;
    margin: 0;
    padding: 0;
}
/*---------------------------------------------------Special Paddings/Margins/Text*/



/*---------------------------------------------------Navigation Styles*/
.navbar{
    margin-bottom: 0px;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #455caf;
    border-color: #455caf;
    border-radius: 0%;
    
}

/*.navbar-default .navbar-collapse{
    border-top-color: #fff;
    position: relative;
    top: -1;
    left: 0;
    z-index: -1;
}*/


.navbar .navbar-brand{
    height: 50px;
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
}

.navbar .navbar-brand:hover{
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-toggle{
    border-color: #dbd6d6;
    background-color: #dbd6d6;
}

.active-page{
    background-color: #7595f2;
    height: 49px;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a{
    color: #fafafa;
    font-size: 1.1em;
}

/*---------------------------------------------------Callout Styles*/

.callout-container{
    height: 90vh;
}

/*---------------------------------------------------Learn To Drive With Sally Styles*/

.learn-sally-container{
    background-color: gray;
}


/*---------------------------------------------------Footer Styles*/
footer{
    background-color: #464663;
    color: white;
}

.footer-top{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-top .footer-heading{
   text-weight: bold;
   font-size: 1.7em;
   color: white;
}

.footer-text{
    margin-left: 5px;
}
footer ul{
    list-style: none;
    padding: 0px;
}

footer ul li{
    text-decoration: none;
}
footer ul li a,
footer p a{
    color: white;
}

.social-links li {
    display: inline-block;
}
.social{
    margin-bottom: 20px;
}

.social-links{
    margin-top: 10px;
}
.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: 0px 5px;
}


.footer-bottom{
    border-top: solid 1px #fafafa;
    padding: 5px;
}